.content {
    min-height: 80vh;
}

.text-end {
    text-align: end !important;
}

.text-start {
    text-align: start !important;
}

.select2-container .select2-selection--single {
    height: 33px;
}

.required {
    color: red;
}

.calendars-month-header select,
.calendars-month-header input {
    height: 2rem;
    border: none;
}

.calendars-month-header,
.calendars-month-header select,
.calendars-month-header input {
    height: auto
}

.calendars-nav,
.calendars-ctrl {
    float: unset;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.calendars-cmd {
    width: unset;
}

select {
    background-position: left 1px bottom 5px !important;
}

.dataTables_wrapper .dataTables_length select {
    padding-left: 10px !important;
}